* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-style: none;
  font-size: 10pt;
}
body {
  background-color: #A9A9A9;
}
button {
background-color: #106189;
border: 1px #106189;
border-radius: 5%;
color: white;
padding: 5px 13px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
position: relative;
margin-left: 0px;
margin-bottom: 0px;
}
.button {
  margin-left: 20px;
  margin-bottom: 20px;
}
/* box one */
.boxone {
  border: solid #FFFFFF 1px;
  border-radius: 1%;
  background-color: #FFFFFF;
  margin-right: 695px;
  margin-left: 167px;
  margin-top: 50px;
  padding: 25px;
  padding-bottom: 8px;
  padding-top: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
/* pencil icon */
/* .boxone i {
  position: absolute;
  top: 500px; */


.dateone {
  position: absolute;
  border: solid #FD3756 1px;
  background-color: #FD3756;
  color: white;
  padding: 5px 13px;
  font-size: 15px;
  margin-left: 267px;
  margin-top: -16px;
}

.title {
  font-size: 20pt;
}
/* box two */
.datetwo {
  position: absolute;
  border: solid #FD3756 1px;
  background-color: #FD3756;
  color: white;
  padding: 5px 13px;
  font-size: 15px;
  margin-left: 0px;
  margin-top: 0px;
}
.boxtwo {
  border: #FFFFFF 1px;
  border-radius: 1%;
  background-color: #FFFFFF;
  margin-left: 695px;
  margin-right: 155px;
  margin-top: 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
  position:relative;
}
.cardtitle {
  font-size: 20pt;
  padding-left: 20px;
  position: relative;
  margin-top: -49px;
  color: white;
}
.cardtext {
  padding: 25px;
  padding-bottom: 8px;
  padding-top: 15px;;
}
/* doggo picture */
img{
  width: 100%;
}
/* box three */
.boxthree {
  border: solid #FFFFFF 1px;
  border-radius: 1%;
  background-color: #FFFFFF;
  margin-right: 695px;
  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)

}
.boxthree blockquote{
  content:"";
  position: relative;
  z-index: 0;
  top: 4px;
  bottom: -298px;
  left: 29%;
  border-left: 5px solid #105983;
  transform: translate(-50%);
}
.boxthree p {
  padding-left: 15px;
}
.datethree {
  position: absolute;
  border: solid #FD3756 1px;
  background-color: #FD3756;
  color: white;
  padding: 5px 13px;
  font-size: 15px;
  margin-left: 291px;
  margin-top: -21px;
}
/* .boxone i {
  position: absolute;
  top: 500px;
} */

/* vertcal line */
.vertical-line:after {
    content:"";
    position: absolute;
    top: 29px;
    bottom: -390px;
    left: 50%;
    border-left: 5px solid #105983;
    transform: translate(-50%);
}
/* .arrow-right {

  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid white;
}
.arrow-left {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid white; */

.boxone img{
  position: absolute;
  width: 1%;
}
